<a href="https://colab.research.google.com/github/heejvely/python_basic/blob/main/python_basic(%EC%9E%90%EB%A3%8C%ED%98%95)_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Jump to Python으로 python basic 복습

## 숫자형

In [1]:
# 정수형 - 정수를 뜻하는 자료

a = 123
b = -178
c = 0

print(a)
print(b)
print(c)

123
-178
0

In [2]:
# 실수형 - 소수점이 포함된 숫자

a = 1.2
b = -3.45

c = 4.24E10
d = 4.24e-10

print(a)
print(b)
print(c)
print(d)

1.2
-3.45
42400000000.0
4.24e-10

In [3]:
# 8진수와 16진수

a = 0o177

b = 0x8ff
c = 0xABC

print(a)
print(b)
print(c)

127
2303
2748

In [4]:
# 숫자형을 활용한 사칙연산

a = 3
b = 4

print(a+b)

7

In [5]:
print(a*b)
print(a/b)

12
0.75

In [6]:
# x의 y제곱을 나타내는 **연산자

a = 3
b = 4

print(a**b)

81

In [7]:
# 나눗셈 후 나머지를 반환하는 % 연산자

print(7%3)
print(3%7)

1
3

In [8]:
# 나눗셈 후 몫을 반환하는 // 연산자

print(7/4)
print(7//4)

1.75
1

In [9]:
# 나혼자 코딩 연습 문제
# 숫자 14를 3으로 나누었을 때 몫과 나머지를 확인해 보자

print('몫:',14//3)
print('나머지:',14%3)

몫: 4
나머지: 2

## 문자열 자료형

In [ ]:
# 문자열은 어떻게 사용할까? -> ' ', " ", ''' ''', """ """

In [10]:
# 문자열에 작은 따옴표 포함 시키기 -> '' 이외의 다른 따옴표 사용
print("Python's favorite food is perl")

Python's favorite food is perl

In [11]:
food = "Python's favorite food is perl"
print(food)

Python's favorite food is perl

In [16]:
# \(\ or 백슬래시)를 사용해서 작은 따옴표와 큰 따옴표를 문자열에 포함시키기

food = 'Python\'s favorite food is perl.'
say = "\"Python is very easy.\" he says."

print(food,'\n',say)

Python's favorite food is perl.
 "Python is very easy." he says.

In [17]:
# 여러 줄인 문자열을 변수에 대입하고 싶을 때

multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [18]:
# 연속된 작은 따옴표 3개('''''') 또는 큰 따옴표 3개("""""") 사용하기

multiline = '''
Life isi too short
You need python
'''
print(multiline)

Life isi too short
You need python

In [19]:
multiline = """
Life isi too short
You need python
"""
print(multiline)

Life isi too short
You need python

- \n: 문자열 안에서 줄을 바꿀 때 사용
- \t: 문자열 사이에 탭 간격을 줄 때 사용
- \\: 문자 \를 그대로 표현할 때 사용
- \\': 작은따옴표를 그대로 표현할 때 사용
- \\": 큰따옴표를 그대로 표현할 때 사용
- \r: 캐리지 리턴(줄바꿈 문자, 현재 커서를 가장 앞으로 이동)
- \f: 폼피드(줄 바꿈 문자, 현재 커서를 다음 줄로 이동)
- \a: 벨소리(출력할 때 PC 스피커에서 '삑' 소리가 난다.
- \b: 백스페이스
- \000: 널 문자

* 이중에서 활용 빈도가 높은 것은 \n, \t, \\, \', \"이다. 나머지는 프로그램에서 잘 사용하지 않는다.

In [20]:
# 문자열 연산하기
# 문자열 더해서 연결하기

head = "Python"
tail = " is fun!"

print(head + tail)

Python is fun!

In [21]:
# 문자열 곱하기
a = 'Python'

print(a*2)

PythonPython

In [22]:
# 문자열 길이 구하기

a = "Life is too short"

print(len(a))

17

In [29]:
# 문자열 인덱싱과 슬라이싱
# 파이썬은 0부터 숫자를 센다.

a = "Life is too short, You need Python"

# 변수 a의 4번째 글자 출력
print(a[3])

e

In [30]:
print(a[0])
print(a[12])

# 맨 뒤에서부터 첫번째
print(a[-1])

L
s
n

In [31]:
# 0 = -0 이기때문에 -0 입력시 0과 동일한 결과

print(a[-0])

L

In [32]:
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]

print(b)

Life

In [33]:
a = "Life is too short, You need Python"

print(a[0:4])

Life

In [34]:
# 슬라이싱 할 떼 항상 시작 번호가 0일 필요는 없다.

print(a[0:2])
print(a[5:7])
print(a[12:17])

Li
is
short

In [35]:
# a[시작번호:끝번호]에서 끝 번호 부분을 생략하면 시작 번호 부터 그 문자열의 끝까지 뽑아낸다.

print(a[19:])

You need Python

In [36]:
# a[시작 번호: 끝 번호]에서 시작 번호를 생략하면 문자열의 처음부터 끝 번호까지 뽑아낸다.

print(a[:17])

Life is too short

In [37]:
# a[시작 번호: 끝 번호]에서 시작 번호와 끝 번호를 생략하면 문자열의 처음부터 끝까지를 뽑아낸다.

print(a[:])

Life is too short, You need Python

In [38]:
# 슬라이싱에서도 인덱싱과 마찬가지로 - 기호를 사용할 수 있다.

print(a[19:-7])

You need

In [39]:
# 슬라이싱으로 문자열 나누기

a = "20010331Rainy"

date = a[:8]
weather = a[8:]

print(date)
print(weather)

20010331
Rainy

In [40]:
# Pithon이라는 문자열을 Python으로 바꾸려면?

a = "Pithon"

print(a[:1]+'y'+a[2:])

Python

In [41]:
# 문자열 포맷팅 %d - 숫자

print('I eat %d apples.' % 3)

I eat 3 apples.

In [43]:
# %s - 문자

print('I eat %s apples.' % "five")

I eat five apples.

In [44]:
# 숫자 값을 나타내는 변수로 대입

number = 3

print('I eat %d apples.' % number)

I eat 3 apples.

In [45]:
#  2개 이상의 값 넣기

number = 10
day = "three"

print('I ate %d apples. so I was sick for %s days.' % (number, day))

I ate 10 apples. so I was sick for three days.

In [46]:
# 정렬과 공백

print('%10s' % "hi")

        hi

In [47]:
# 반대쪽 왼쪽 정렬

print('%-10sjane' % 'hi')

hi        jane

In [49]:
# 소수점 표현

print('%0.4f' % 3.42134234)
print('%10.4f' % 3.42134234)

3.4213
    3.4213

In [50]:
# 바로 대입하기

print('I eat {0} apples.'.format(3))
print('I eat {0} apples.'.format('five'))

number = 3
print('I eat {0} apples.'.format(number))

number = 10
day = 'three'
print('I eat {0} apples. so I was sick for {1} days.'.format(number,day))

print('I eat {number} apples. so I was sick for {day} days.'.format(number=10,day=3))

I eat 3 apples.
I eat five apples.
I eat 3 apples.
I eat 10 apples. so I was sick for three days.
I eat 10 apples. so I was sick for 3 days.

In [55]:
# 정렬

print(f"왼쪽 정렬: {'hi':<10}")
print(f"오른쪽 정렬: {'hi':>10}")
print(f"가운데 정렬: {'hi':^10}")
print(f"가운데 정렬 후 공백 채우기: {'hi':=^10}")
print(f"왼쪽 정렬 후 공백 채우기: {'hi':!^10}")

왼쪽 정렬: hi
오른쪽 정렬:         hi
가운데 정렬:     hi
가운데 정렬 후 공백 채우기: ====hi====
왼쪽 정렬 후 공백 채우기: !!!!hi!!!!

In [56]:
# 문자열 관련 함수

a= 'hobby'

print(a.count('b'))

2

In [57]:
# 위치 알려주기

a = 'Python is the best choice'

# 문자열에서 해당 문자가 처음 나온 위치
print(a.find('b'))
print(a.find('k'))

14
-1

In [59]:
# 위치 알려주기 

a = "Life is too short"

print(a.index('t'))

8

In [60]:
# 문자열 삽입(join)

print(",".join('abcd'))

a,b,c,d

In [62]:
print(",".join(['a','b','c','d']))

a,b,c,d

In [63]:
# 소문자를 대문자로 바꾸기 (upper)

a = 'hi'
print(a.upper())

HI

In [65]:
# 대문자를 소문자로 바꾸기(lower)

a = 'Hi'
print(a.lower())

hi

In [66]:
# 왼쪽 공백 지우기(lstrip)

a = "   hi   "

print(a.lstrip())

hi

In [67]:
# 오른쪽 공백 지우기(rstrip)

a = "   hi   "

print(a.rstrip())

   hi

In [68]:
# 양쪽 공백 지우기(strip)

a = "   hi   "

print(a.strip())

hi

In [69]:
# 문자열 바꾸기(replace)

a = "Life is too short"

print(a.replace("Life", "Your leg"))

Your leg is too short

In [70]:
# 문자열 나누기

a = "Life is too short"

print(a.split())

b = 'a:b:c:d'

print(b.split(':'))

['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']