<a href="https://colab.research.google.com/github/heejvely/python_basic/blob/main/python_basic(%EC%9E%90%EB%A3%8C%ED%98%95)_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Jump to Python으로 python basic 복습

## 리스트형

In [1]:
# 리스트 형태

a = []
b = [1, 2, 3]
c = ['Life','is','too','short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

print(a)
print(b)
print(c)
print(d)
print(e)

[]
[1, 2, 3]
['Life', 'is', 'too', 'short']
[1, 2, 'Life', 'is']
[1, 2, ['Life', 'is']]

In [2]:
# 리스트의 인덱싱

a = [1, 2, 3]

print(a[0])
print(a[0]+a[2])
print(a[-1])

1
4
3

In [3]:
a = [1,2,3,['a','b','c']]

print(a[0])
print(a[-1])
print(a[3])
print(a[-1][0])
print(a[-1][2])

1
['a', 'b', 'c']
['a', 'b', 'c']
a
c

In [4]:
# 리스트의 슬라이싱

a = [1, 2, 3, 4, 5]

print(a[0:2])

a = '12345'
print(a[0:2])

[1, 2]
12

In [5]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]

print(b)
print(c)

[1, 2]
[3, 4, 5]

In [6]:
# 나혼자 코딩 a = [1,2,3,4,5] 리스트에서 슬라이싱 기법을 사용하여 리스트 [2,3]을 만들어 보자

a = [1,2,3,4,5]

print(a[1:3])

[2, 3]

In [8]:
# 리스트 연산하기

a = [1,2,3]
b = [4,5,6]

print(a+b)

[1, 2, 3, 4, 5, 6]

In [9]:
# 리스트 반복하기

a = [1,2,3]

print(a*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [10]:
# 리스트 길이 구하기


a = [1,2,3]

print(len(a))

3

In [11]:
# 리스트에서 값 수정하기

a = [1,2,3]
a[2] = 4

print(a)

[1, 2, 4]

In [12]:
# del 함수 사용해서 리스트 요소 삭제하기

a = [1,2,3]
del a[1]

print(a)

[1, 3]

In [13]:
a = [1,2,3,4,5]
del a[2:]

print(a)

[1, 2]

In [14]:
# 리스트에 요소 추가

a = [1,2,3]
a.append(4)

print(a)

[1, 2, 3, 4]

In [15]:
# 리스트에 리스트 추가

a.append([5,6])

print(a)

[1, 2, 3, 4, [5, 6]]

In [16]:
# 리스트 정렬

a = [1,4,3,2]
a.sort()

print(a)

[1, 2, 3, 4]

In [17]:
# 리스트 문자 정렬

a = ['a', 'c', 'b']
a.sort()

print(a)

['a', 'b', 'c']

In [18]:
# 리스트 뒤집기

a = ['a','c','b']
a.reverse()

print(a)

['b', 'c', 'a']

In [19]:
# 위치 반환

a = [1,2,3]

print(a.index(3))
print(a.index(1))

2
0

In [21]:
# 리스트에 요소 삽입

a = [1,2,3]
a.insert(0, 4)

print(a)

[4, 1, 2, 3]

In [23]:
a.insert(3,5)

print(a)

[4, 1, 2, 5, 3]

In [24]:
# 리스트 요소 제거, 첫번째에 나오는 요소 삭제

a = [1,2,3,1,2,3]
a.remove(3)

print(a)

[1, 2, 1, 2, 3]

In [25]:
a.remove(3)

print(a)

[1, 2, 1, 2]

In [27]:
# 리스트 요소 끄집어내기
# 맨 마지막 요소를 돌려주고 그 요소는 삭제

a = [1,2,3]

print(a.pop())
print(a)

3
[1, 2]

In [28]:
a = [1,2,3]

print(a.pop(1))
print(a)

2
[1, 3]

In [29]:
# 리스트에 포함된 요소의 개수 세기

a = [1,2,3,1]

print(a.count(1))

2

In [30]:
# 리스트 확장

a = [1,2,3]
a.extend([4,5])

print(a)

b = [6,7]
a.extend(b)

print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]

## 튜플 자료형

In [31]:
# 요소값 변경 불가능

t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 1,2,3
t5 = ('a','b',('ab','cd'))

print(t1)
print(t2)
print(t3)
print(t4) #괄호 생략해도 무방
print(t5)

()
(1,)
(1, 2, 3)
(1, 2, 3)
('a', 'b', ('ab', 'cd'))

In [32]:
# 인덱싱하기

t1 = (1,2,'a','b')

print(t1[0])
print(t1[3])

1
b

In [33]:
# 슬라이싱하기

t1 = (1,2,'a','b')
print(t1[1:])

(2, 'a', 'b')

In [34]:
# 튜플 더하기

t2 = (3,4)

print(t1 + t2)

(1, 2, 'a', 'b', 3, 4)

In [35]:
# 튜플 곱하기

print(t2 * 3)

(3, 4, 3, 4, 3, 4)

In [36]:
# 튜플 길이 구하기

t1 = (1,2,'a','b')

print(len(t1))

4

In [38]:
# 나혼자 코딩 (1,2,3)이라는 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해보자.

a = (1,2,3)

print(a + (4,))

(1, 2, 3, 4)

## 딕셔너리 자료형

In [39]:
# 딕셔너리 쌍 추가하기

a = {1: 'a'}
a[2] = 'b'

print(a)

{1: 'a', 2: 'b'}

In [40]:
a['name'] = 'pey'

print(a)

{1: 'a', 2: 'b', 'name': 'pey'}

In [41]:
a[3] = [1,2,3]

print(a)

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [42]:
# 딕셔너리 요소 삭제하기

del a[1]

print(a)

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [45]:
# 딕셔너리에서 key 사용해 value 얻기

grade = {'pey':10, 'juliet':99}

print(grade['pey'])
print(grade['juliet'])

10
99

In [46]:
# key list 만들기

a = {'name':'pey','phone':'0119993323','birth':'1118'}

print(a.keys())

dict_keys(['name', 'phone', 'birth'])

In [47]:
for k in a.keys():
  print(k)

name
phone
birth

In [48]:
list(a.keys())

['name', 'phone', 'birth']

In [49]:
print(a.values())

dict_values(['pey', '0119993323', '1118'])

In [50]:
# key, value 쌍 얻기

print(a.items())

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [51]:
# key:value 쌍 모두 지우기

a.clear()

print(a)

{}

In [52]:
# key로 value 얻기

a = {'name':'pey','phone':'0119993323','birth':'1118'}

print(a.get('name'))
print(a.get('phone'))

pey
0119993323

In [53]:
a.get('foo','bar')

'bar'

In [54]:
a = {'name':'pey','phone':'0119993323','birth':'1118'}

print('name' in a)
print('email' in a)

True
False

## 집합 자료형

In [55]:
s1 = set([1,2,3])

print(s1)

{1, 2, 3}

In [56]:
s2 = set('Hello')

print(s2)

{'l', 'e', 'H', 'o'}

- 중복을 허용하지 않음.
- 순서가 없음.

-> 인덱싱을 하기위해서는 리스트 또는 튜플로 변환한 후 해야함.

In [59]:
s1 = set([1,2,3])
l1 = list(s1)

print(s1)
print(l1[0])

t1 = tuple(s1)

print(t1)
print(t1[0])

{1, 2, 3}
1
(1, 2, 3)
1

In [60]:
# 교집합, 합집합, 차집합 구하기

s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [61]:
# 교집합

print(s1 & s2)
print(s1.intersection(s2))

# 합집합

print(s1|s2)
print(s1.union(s2))

# 차집합

print(s1-s2)
print(s2-s1)
print(s1.difference(s2))
print(s2.difference(s1))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}

In [62]:
# 값 1개 추가하기

s1 = set([1,2,3])
s1.add(4)

print(s1)

{1, 2, 3, 4}

In [64]:
# 값 여러개 추가하기

s1 = set([1,2,3])
s1.update([4,5,6])

print(s1)

{1, 2, 3, 4, 5, 6}

In [65]:
# 특정 값 제거하기

s1 = set([1,2,3])
s1.remove(2)

print(s1)

{1, 3}

## 불 자료형

- 참 또는 거짓을 나타내는 자료형

In [66]:
print(1==1)
print(2 >1)
print(2 < 1)

True
True
False

In [68]:
a = [1,2,3,4]

while a:
  a.pop()

print(a)

[]

In [69]:
if [1,2,3]:
  print('참')
else:
  print('거짓')

참

In [70]:
print(bool('python'))
print(bool(''))

True
False

## 자료형의 값을 저장하는 공간, 변수

- 변수란? 파이썬에서 사용하는 변수는 객체를 가리키는 것

In [71]:
a = [1,2,3]

print(id(a))

139629296021824

In [72]:
# 리스트를 복사할 때

a = [1,2,3]
b = a

print(id(a))
print(id(b))

139629296026800
139629296026800

In [73]:
print(a is b)

True

In [74]:
a[1] = 4

print(a)
print(b)

[1, 4, 3]
[1, 4, 3]

In [75]:
a = [1,2,3]
b = a[:]
a[1] = 4

print(a)
print(b)

[1, 4, 3]
[1, 2, 3]

In [76]:
from copy import copy

a = [1,2,3]
b = copy(a)

print(a)
print(b)
print(b is a)

[1, 2, 3]
[1, 2, 3]
False

In [77]:
a, b = ('python','life')

print(a,b)

python life

In [78]:
a = 3
b = 5
a, b = b,a

print(a)
print(b)

5
3