<a href="https://colab.research.google.com/github/heejvely/python_basic/blob/main/pandas_%EC%97%B0%EC%82%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 연산
* 행/열 인덱스를 기준으로 모든 원소를 정렬한다.
* 동일한 위치에 있는 원소끼리 일대일 대응시킨다.
* 일대일 대응이 되는 원소끼리 연산을 처리한다.

In [2]:
import pandas as pd

st1 = pd.Series({'국어':100,'영어':80,'수학':90})
st2 = pd.Series({'수학':80,'국어':90,'영어':80})
print(st1)
print(st2)

국어    100
영어     80
수학     90
dtype: int64
수학    80
국어    90
영어    80
dtype: int64

In [3]:
add = st1 + st2
sub = st1 - st2
mul = st1 * st2
div = round((st1 / st2), 2)
print(add)

국어    190
수학    170
영어    160
dtype: int64

In [4]:
df = pd.concat([add,sub,mul,div],axis = 1)
df

      0   1     2     3
국어  190  10  9000  1.11
수학  170  10  7200  1.12
영어  160   0  6400  1.00

In [7]:
df.rename(columns={0:'a',1:'b',2:'c',3:'d'},inplace=True)
df

      a   b     c     d
국어  190  10  9000  1.11
수학  170  10  7200  1.12
영어  160   0  6400  1.00

In [8]:
df.columns = ['add','sub','mul','div']
df

    add  sub   mul   div
국어  190   10  9000  1.11
수학  170   10  7200  1.12
영어  160    0  6400  1.00

In [9]:
df.columns

Index(['add', 'sub', 'mul', 'div'], dtype='object')

In [10]:
import numpy as np
df1 = pd.DataFrame(np.arange(12.).reshape((3,4)),columns=list('abcd'))
df1

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

In [11]:
df2 = pd.DataFrame(np.arange(20.).reshape((4,5)),columns=list('abcde'))
df2

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [12]:
df1 + df2

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [14]:
add_data = df1.add(df2, fill_value=0)
sub_data = df1.sub(df2, fill_value=0)
mul_data = df1.mul(df2, fill_value=0)
div_data = df1.div(df2, fill_value=0)
print(add_data, '\n')
print(sub_data, '\n')
print(mul_data, '\n')
print(div_data, '\n')

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

      a     b     c     d     e
0   0.0   0.0   0.0   0.0  -4.0
1  -1.0  -1.0  -1.0  -1.0  -9.0
2  -2.0  -2.0  -2.0  -2.0 -14.0
3 -15.0 -16.0 -17.0 -18.0 -19.0

      a     b      c      d    e
0   0.0   1.0    4.0    9.0  0.0
1  20.0  30.0   42.0   56.0  0.0
2  80.0  99.0  120.0  143.0  0.0
3   0.0   0.0    0.0    0.0  0.0

     a         b         c         d    e
0  NaN  1.000000  1.000000  1.000000  0.0
1  0.8  0.833333  0.857143  0.875000  0.0
2  0.8  0.818182  0.833333  0.846154  0.0
3  0.0  0.000000  0.000000  0.000000  0.0

In [15]:
1/df1

       a         b         c         d
0    inf  1.000000  0.500000  0.333333
1  0.250  0.200000  0.166667  0.142857
2  0.125  0.111111  0.100000  0.090909

In [16]:
# 계산인자를 뒤집어 계산
df1.rdiv(1)

       a         b         c         d
0    inf  1.000000  0.500000  0.333333
1  0.250  0.200000  0.166667  0.142857
2  0.125  0.111111  0.100000  0.090909

In [17]:
print(df1)
s1 = df1.iloc[0]
s1

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

a    0.0
b    1.0
c    2.0
d    3.0
Name: 0, dtype: float64

In [18]:
df1 - s1

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  4.0  4.0  4.0  4.0
2  8.0  8.0  8.0  8.0

In [19]:
s2 = df1['d']
s2

0     3.0
1     7.0
2    11.0
Name: d, dtype: float64

In [20]:
df3 = pd.DataFrame(np.arange(20.).reshape((4,5)),columns=list('opqrs'))
df3

      o     p     q     r     s
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [22]:
df1.sub(s2, axis=0)

     a    b    c    d
0 -3.0 -2.0 -1.0  0.0
1 -3.0 -2.0 -1.0  0.0
2 -3.0 -2.0 -1.0  0.0

In [23]:
df1.sub(s1,axis=1)

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  4.0  4.0  4.0  4.0
2  8.0  8.0  8.0  8.0